.parent {
  display: block;
  position: relative;
  width: 400px;
  height: 400px;
  background: #AAAAAA;
  border: 1px solid black;

  .button {
    display: block;
    position: relative;
    width: 200px;
    height: 32px;
    background: #EEEEEE;
    border: 1px solid black;
    text-align: center;
    line-height: 32px;
    color: #000000;
    cursor: pointer;
  }

  .child {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background: #EEEEEE;
    border: 1px solid black;
    margin: 20px;
  }
}
